<h1>WWI18DSA Fancy Cities</h1>

<input type="text" [(ngModel)]="countryName">
<br>
<button (click)="go()">
  Go
</button>
<p></p>

<textarea cols="30" rows="10" [(ngModel)]="contentOfTextArea"></textarea>
<button (click)="onSpecialButtonClicked()">Go For It</button>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Latitude
    </th>
    <th>
      Longitude
    </th>
  </tr>
  <div *ngFor="let city of cities">
    <tr>
      <td>
        {{city}}
      </td>
      <td>
        49
      </td>
      <td>
        8
      </td>
    </tr>
  </div>

</table>
